@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700;800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700;800&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&family=Mukta:wght@200;300;400;500;600;700;800&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wdth,wght@181.5,200..900&family=Mukta:wght@200;300;400;500;600;700;800&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Signika:wght@300..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    margin: 0;
    height: 100vh;
    background: transparent url(./images/Road\ sign.webp) no-repeat;
    background-size: cover;
}

header {
    background-color: rgba(255, 255, 255, 0.9); 
    color: #6D8EA0;
    padding: 10px 20px;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.1);
    border-radius: 30px;
    margin: 2px;
}

.nav-bar {
    display: flex; 
    align-items: center;
    justify-content: space-between;
}

.nav-bar h1 {
    margin: 0;
    font-family: "Signika", sans-serif;
    font-optical-sizing: auto;
    font-weight: lighter;
    font-style: normal;
    color: #2087af;
}

.links {
    list-style-type: none;
    display: flex;
    align-items: center;
}

.link-item {
    margin-right: 20px;
    color: black;
    transition: color 0.3s, font-weight 0.2s;
}

.link-item:hover {
    margin-right: 20px;
    color: #1e7ea1;
    font-weight: bold;
    cursor: pointer;
}

.links a {
    text-decoration: none;
    color: black;
}

.links a:hover {
    text-decoration: none;
    color: #1e7ea1;
}

.links button{
    background-color: #1e7ea1;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    border-radius: 30px;
    align-self: stretch;
    box-shadow: 1px 1px black;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

.links button a {
    color: #fff;
}

.links button a:hover {
    color: black;
}

.links button:hover {
    background-color: #30BCED;
    color: black;
    border: 1px solid black;
    cursor: pointer;
}

main {
    flex: 1;
    margin: 5px;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
    border-radius: 30px;
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0.9);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90vh;
}

.info, .car-img {
    margin: 20px;
}

.car-img {
    -webkit-filter: drop-shadow(0px 16px 10px rgba(0, 0, 0, 0.9));
    -moz-filter: drop-shadow(0px 16px 10px rgba(1, 5, 7, 0.9));
    -ms-filter: drop-shadow(0px 16px 10px rgba(0, 0, 0, 0.9)); 
    -o-filter: drop-shadow(0px 16px 10px rgba(0, 0, 0, 0.9));
    filter: drop-shadow(0px 16px 10px rgba(0, 0, 0, 0.9));
}

.info h1 {
    font-weight: 550;
    color: #1e7ea1;
    font-size: 2rem;
}

.info {
    display: block;
    width: 100%;
}

.car-img {
    width: 100%;
}

.info .descr {
    margin-bottom: 20px;
}

.info .btnview {
    border-radius: 10px;
    width: 200px;
    height: 40px;
    margin-top: 20px;
    background-color: #2087af;
    border: none;
    font-weight: 600;
    font-size: 0.9rem;
    transition: color 0.2s, border 0.2s, box-shadow 0.2s;
}

.info .btnview:hover {
    box-shadow: -1px -1px 10px 10px rgba(0, 0, 0, 0.3);
    border: 1px white;
    color: white;
    cursor: pointer;
}

.car-img img {
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: block;
    border-radius: 30px;
    opacity:0.9;
    filter:alpha(opacity=40);
}

@media (min-width: 1368px) {
    .info .btnview {
        height: 50px;
        font-size: large;
    }
    .info h1 {
        font-weight: 550;
        font-size: 2.5rem;
        padding-bottom: 10px;
    }
    .info .descr,
    p {
        font-size: 20px;   
    }
}